* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  --headerColor: #F9F9F9;
  --firstpageBackColor: var(var(--headerColor));
  --baseColor: #69B99D;
  --textColor: #767676;
  --titleColor: black;
  --bodyBackColor: #F9F9F9;
  --textColor2: white;

  --fontPoppins: "Poppins";
  --fontDM: "DM Sans";
}

body {
    background-color: var(--bodyBackColor);
    color: var(--textColor);
  max-width: 62.5rem;
  min-width: 18, 75rem;
  font: 400 1rem var(--fontDM), sans-serif;
}

a {
    text-decoration: none;
}

nav {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


button {
    color: white;
    background-color: var(--baseColor);
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: var(--fontPoppins), sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.31rem;
    color: var(--titleColor);
}

p {
    font-family: var(--fontDM), sans-serif;
    text-align: center;
}

#header {
    border-bottom: 1px solid #76767628;
}

#home {
    margin: 0;
}
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /*width: 100%;*/
}

.logo {
    font-family: var(--fontPoppins), sans-serif;
    font-weight: bold;
    font-size: 1.31rem;
    color: var(--titleColor);
}

.logo > span {
    color: var(--baseColor);
}

.section {
    padding: 5rem 0;
}
